<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/justified-nav.css" rel="stylesheet">

    <link href="static/main.css" rel="stylesheet">
    <link href="static/media.css" rel="stylesheet">
    <style>
      
    </style>
  </head>
  <body>
    <!--NAVIGATION -->
    <div class="masthead">
        <h3 class="text-muted">insert logo</h3>

        <nav class="navbar navbar-light bg-faded rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1>ScoreHoard</h1>
          <div class="collapse navbar-toggleable-md" id="navbarCollapse">
            <ul class="nav navbar-nav text-md-center justify-content-md-between">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Downloads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    <!--JUMBOTRON-->
    <div class='jumbotron'>

      <h1>{{company.name}}</h1>
      <h3>Your Games</h3>
    <p>Logged in as: {{account}}</p>
    </div>

    {{#each games}}
      <div class='game'>
        {{name}}
        <br>
        API key: {{api_key}}
        <br>
        This game's API link is <a href="http://scorehoard.com/add/{{api_key}}?user=USERNAME&score=SCORE">here</a>. Only pass the username and score into the URL upon the player finishing the game to store the data.
        <br>[[other stats]]
      </div>
    {{/each}}
      <hr>
      <div class="game">
        Add new game:
        <form method='post'>
          <input type='text' name='name'>
          <input type='submit'>
        </form>
      </div>
    <hr>

    <a href='/'>Main Page</a>

</body>
