<div class='jumbotron'>
      <h1>{{company.name}}</h1>
      <p>Logged in as: {{account}}</p>
  </div>
    <div class="container-fluid bg-1 text-center">

      <form method='post'>
        <label>Add new game:</label>
        <input type='text' name='name'>
        <input type='submit'>
      </form>
    </div>

{{#each games}}
  <div class='game'>
    {{@index}}: {{name}}
    <br>
    {{#if key_present}}
    API key: {{api_key}}
    <br>
    This game's API link is <a href="http://scorehoard.com/add/{{api_key}}?user=USERNAME&score=SCORE">here</a>. Only pass the username and score into the URL upon the player finishing the game to store the data.
    <br>[[other stats]]
    {{else}}
    <form method="POST" action="/admin" name="new_api">
      <input type='hidden' name='api_key_generate' value='true'>
      <input type='hidden' name='game_id' value='{{id}}'>
      <input type='submit' value='Generate API key'>
    </form>
    {{/if}}
  </div>
  <hr>
{{/each}}
  <hr>
  <div class="game">
    Add new game:
    <form method="POST" action="/admin" name="new_game">
      <input type='text' name='name'>
      <input type='submit'>
    </form>
  </div>
<hr>

    <a href='/'>Main Page</a>
