  <div class="container-fluid bg-1">
      <h1>{{company.name}}</h1>
      <p>Logged in as: {{account}}</p>
  </div>
    <div class="container-fluid bg-2 text-center">
      <form method='post'>
        <label>Add new game:</label>
        <input type='text' name='name'>
        <input type='submit'>
      </form>
    </div>
    <div class="container-fluid bg-2 text-center">    
      <ul class="admin">  
        {{#each games}}
          <li>INDEX: {{@index}}<br>
          NAME: {{name}}<br>
          API KEY: {{api_key}}<br> 
          STATS: [[other stats]]<br>
          <form method="POST" action="/admin" name="new_api">
              <input type='hidden' name='api_key_generate' value='true'>
              <input type='hidden' name='game_id' value='{{id}}'>
              <input type='submit' value='Generate API key'>
            </form></li>
        {{/each}}
      </ul>
    </div>
