<head>
  <title>Console - ScoreHoard</title>
</head>
<body>
  <div class="container-fluid bg-1">
      <h1>{{company.name}}</h1>
      <p>Active Keys: {{account}}</p>
  </div>
  <div class="container-fluid bg-2 text-center">
      <form method='post'>
        <label>Add new game:</label>
        <input type='text' name='name'>
        <input type='submit'>
      </form>
   </div>
  {{#each games}}
  <div class="container">
   <div class="row">
    <div class="col-md-8">
      <h2>{{name}}</h2>
    </div>
    <div class="col-md-4">
      <i class="fa-window-close-o">Inactive</i>
      <i class="fa-check-square-o">Active</i>
    </div>
   </div>
   <div class ="row">
    <div class="col-md-12">
      <h3>{{api_key}}</h3>
      <form method="POST" action="/admin" name="new_api">
        <input type='hidden' name='api_key_generate' value='true'>
        <input type='hidden' name='game_id' value='{{id}}'>
        <input type='submit' value='Generate API key'>
      </form>
      <form method="POST" action="/admin" name="delete_game">
        <input type='hidden' name='delete_game' value='true'>
        <input type="hidden" value="{{name}}" name="name">
        <input type="hidden" value="{{id}}" name="game_id">
        <input type="submit" value="DELETE GAME">
      </form>
      </div>
    </div>
  </div>
  {{/each}}
</body>
