<body>
  <div class="container-fluid bg-1">
      <h1>{{company.name}}</h1>
      <p>Active Keys: {{keys}}</p>
  </div>
  <div class="container-fluid bg-2 text-center">
      <form method='post'>
        <label>Add new game:</label>
        <input type='text' name='name'>
        <input type='submit' class="btn btn-sm btn-success" >
      </form>
   </div>
  <div class="bg-3a">
  {{#each games}}
  <div class="container-fluid bg-3 text-center">
   <ul>
      <l1>
        <div class="row">
         <div class="col-md-6 text-left">
          <h2 id="adminName">{{name}}</h2>
        </div>
        <div class="col-md-6 text-right">
          <h5>Status</h5>
          {{#unless api_key_valid}}<span class="fa-stack fa-lg">
          <i class="fa fa-thumbs-o-up fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>{{/unless}}
          {{#if api_key_valid}}<i class="fa fa-thumbs-o-up fa-2x"></i>{{/if}}
        </div>
       </div>
       <div class="row">
         <div class="col-md-12">
          {{#if key_present}}<h3><span style='color:lightgrey'>API Key: </span>{{api_key}}</h3>{{/if}}
          {{#unless key_present}}
          <form method="POST" action="/console" name="new_api">
            <input type='hidden' name='api_key_generate' value='true'>
            <input type='hidden' name='game_id' value='{{id}}'>
            <input type='submit' class="btn btn-sm btn-success"value='Generate API key'>
           </form>
           {{/unless}}
        </div>
      </div>
      <div class="row delete">
          <div class="col-md-12">  
            <form method="POST" action="/console" name="delete_game">
              <input type='hidden' name='delete_game' value='true'>
              <input type="hidden" value="{{name}}" name="name">
              <input type="hidden" value="{{id}}" name="game_id">
              <input type="submit" class="btn btn-sm btn-success" value="DELETE GAME">
            </form>
           </div>
          </div>
      </li>
   </ul>
  </div>
  {{/each}}
</div>
</body>
